body{
    background-color: #002a32;
    color : white;
   
}

h1{
    text-align: center;
    padding-bottom: 0;
    z-index: 1;
    color:#036d19;
}
h2{
    margin-bottom: 0;
}
p{
    text-align: left;
    ;
}

header{
    background-color:#036d19;
    border-style: solid;
    border-color: #7ae7c7;
    border-radius: 2px;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover {
    background-color:white;
    color:black;
}

footer{
    color:rgb(255, 255, 255);
    background-color: #036d19;
    border-style: solid;
    border-color: #7ae7c7;
    margin-top: 200px;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a{
    color:white;
    padding: 25px 50px;
}

footer a:hover{
    background-color:white;
    color:#002a32;
    text-decoration: none;
}

.xlogo{
    width: 70px;
}

img{
    width: auto;
    justify-content: center;
    align-items: center;
}
