@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&family=Roboto:wght@300;500&display=swap');
font-family: 'Noto Serif', serif;
font-family: 'Roboto', sans-serif;
main{
    background-color: #fca6c9;
    color: #3e3e3e;
    
}

li{
    color: black;
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    font-weight: 500;
}

h1{
    color: white;
    font: ;
}

body{
    text-align: center;
    background-color: #fca6c9;
}

footer{
    font: ;
    color: black;
}

#russell{
    width: 200px;
}

#russell figure{
    text-align:center;
}

h2{
    color: white;
    margin: 35px;
    font: ;
    font-size: 2.2em;
    font-family: 'Noto Serif', serif;
}

h1:hover {
    color:black;
}

.whitetext{
    color: white;
}

.list{
    text-align: left;
    display: inline-block;
}