body{
    background-color: rgb(0, 0, 0);
    color:aliceblue;
    text-align: center;
    

}

img{
    width: 450px;
}

header{
    padding-bottom: 20px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}



h1{
    text-align: center;
}

footer{
   
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}




#gauge{
    
    padding-top: 0px;
    width: 200px;

}

a{
    background-color: #2C60E1;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

a:hover {
    background-color:#6EDC42;
    color: black;

}

.logo{
    width: 15px;
}

